@using Kendo.Mvc.UI

@{
    ViewBag.Title = "SPA and Layout";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<br />
<p>This screen is setup like QTestPad, with a control that is defined and then referenced in custom bundled javascript.</p>
<p>The error from About2 is resolved by deferring the kendo initialisation until after the script has been initialised.</p>
<br />

@(Html.Kendo().DatePicker()
              .Name("datepicker")
              .Value("01/01/2011")
              .HtmlAttributes(new { style = "width: 100%", title = "datepicker" }))

@(Html.Kendo().TextBox()
    .Name("textbox")
    .Events(e => e.Change("textboxOnChange")).Deferred())


@Scripts.Render("~/bundles/AboutScript")

@Html.Kendo().DeferredScripts()